.todo-page {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  background: #1aa2ad;

  h1 {
    font-size: 40px;
    color: white;
    margin-bottom: 16px;
  }

  &_create-btn {
    margin-bottom: 14px;
    width: 160px;
    outline: none;
    background: transparent;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    font-size: 14px;
    padding: 12px;

    &:hover {
      background: white;
      color: black;
      cursor: pointer;
    }
  }

  &_filters {
    display: flex;
    width: 70%;
    justify-content: space-between;
  }

  &_links {
    margin-top: 10px;
    margin-bottom: 10px;
    button {
      color: white;
    }
  }
}

@keyframes highlights {
  from {
    opacity: 0.1;
  }

  to {
    opacity: 1;
  }
}
