.admin-page {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  background: #1aa2ad;

  h1 {
    font-size: 40px;
    color: white;
    margin-bottom: 0px;
  }

  p {
    color: white;
    margin-top: 0px;
    font-size: 16px;
  }

  &_links {
    margin-top: 10px;
    margin-bottom: 10px;
    button {
      color: white;
    }
  }
}
